---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

// Show Last 3 blog articles
const allPosts = await Astro.glob('../pages/posts/*.md');
const limitPosts = 3;
const lastPosts = allPosts.slice(0,limitPosts);

// Show COVER article
// Function to filter posts with the "cover" tag in frontmatter
function getCoverPost(allPosts) {
  return allPosts.find(post => post.frontmatter.tags && post.frontmatter.tags.includes("cover"));
}
const coverPost = getCoverPost(allPosts);


---
<BaseLayout>
	<h2>Cover: {coverPost.frontmatter.title}</h2>
	<img src={coverPost.frontmatter.image.url} width="100%" alt={coverPost.frontmatter.image.alt} />
	<h3>Last three posts</h3>
	<ul>{lastPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} pubDate={post.frontmatter.pubDate.slice(0,10)} image={post.frontmatter.image}/>)}
	
	</ul>
</BaseLayout>
